#chat_form { background: #000; position: fixed; bottom: 0; right:0;}
#messages { list-style-type: none; margin: 0; padding: 0;}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

#chatDiv
{
     position: fixed;
     bottom: 0;
     right: 10px;

}
#chatPanelBody, #chatBtnDiv
{
  width:260px;
}
#chatPanelBody
{
  height: 300px;
  overflow: auto;
}
