
extend my_layout

block content
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a(href="#").navbar-brand Welcome
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/logout') Sign Out
    .container
      .jumbotron
        h1 KEB Dashboard
        p Welcome to KEB layout !!
    .container
      .row
      .col-lg-9.form-group
        label(for="exampleTextarea") Likhne ka area
        textarea(rows="3").form-control#exampleTextarea
      .col-lg-3
        .panel.panel-default
          .panel-heading
            | Black Listed Restaurents
            span.glyphicon.glyphicon-plus.pull-right(data-toggle='collapse', data-target='#addRestoDiv')
            #addRestoDiv.collapse
              input.form-control(type='text', placeholder='name')
              input.form-control(type='text', placeholder='url')
          .panel-body
            table.table.table-striped
              tbody
                tr
                  td Rest 1
                  td
                    i.glyphicon.glyphicon-plus.pull-right(data-toggle='collapse', data-target='#menuItem1')
                tr#menuItem1.collapse
                  td
                    input.form-control(type='text', placeholder='menu item')

    if users != undefined
      .container
        div
        table.table.table-striped
          thead
            tr
              th Login
              th First Name
              th Last Name
          tbody
            each user in users
              tr
                td= user.login_name
                td= user.first_name
                td= user.last_name
