
extend my_layout

block content
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a(href="#").navbar-brand Welcome
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Sign In
    .container
      .jumbotron
        h1 KEB Dashboard
        p Welcome to KEB layout !!
    .container
      .row
      .col-lg-9.form-group
        label(for="exampleTextarea") Likhne ka area
        textarea(rows="3").form-control#exampleTextarea
      .col-lg-3.jumbotron
        h2 Blacklisted
        p Nahi khana yaha se
          img(src="https://previews.123rf.com/images/yayayoy/yayayoy1109/yayayoy110900021/10601995-Dislike-emoticon-Stock-Vector-smiley-face-angry.jpg", width="30px", height="30px")
